
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We're glad to have you on board at. </p>
  <a href="http://localhost:3000/api/auth/validate?email={{email}}">Valider</a>
  <a href="http://localhost:3000/api/auth/refuse?email={{email}}">Refuser</a>
</body>
</html>